<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Universis inter-process event service</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
        integrity="sha256-IUOUHAPazai08QFs7W4MbzTlwEWFo7z/4zw8YmxEiko=" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" href="https://gitlab.com/universis/universis/-/raw/master/packages/registrar/src/assets/img/favicon.png?inline=true">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    <style>
        body {
            font-family: 'Montserrat';
            padding-top: 4.5rem;
        }
        .logo {
            position: relative;
            left: -32px;
        }
    </style>
</head>

<body>
    <main class="container">
        <div class="bg-light p-5 rounded">
            <img class="logo" height="152" src="https://gitlab.com/universis/universis-api/-/raw/master/public/images/universis_256.png?inline=true" alt="Universis">
            <h1>@universis/racket</h1>
            <p class="lead">
                An inter-process event service which implements the communication between processes by sending and receiving messages in an active inter-connector environment.
            </p>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha256-xLI5SjD6DkojxrMIVBNT4ghypv12Xtj7cOa0AgKd6wA=" crossorigin="anonymous"></script>
</body>
</html>